body {
    font-family: 'Poppins', sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}

.layout_padding {
    padding: 90px 0;
}

.layout_padding2 {
    padding: 75px 0;
}

.layout_padding2-top {
    padding-top: 75px;
}

.layout_padding2-bottom {
    padding-bottom: 75px;
}

.layout_padding-top {
    padding-top: 90px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.heading_container h2 {
    position: relative;
    font-weight: bold;
}

.heading_container h2 span {
    color: #da7426;
}

.heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*header section*/
.user_hero_area {
    position: relative;
    height: calc(100vh - 35px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: url(../images/fine_dining.jpeg);
    background-size: cover;
}
.re_hero_area {
    position: relative;
    height: calc(100vh - 35px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: url(../images/cooking.webp);
    background-size: cover;
}
.sub_page .user_hero_area .re_hero_area .de_hero_area{
    height: auto;
}
.de_hero_area {
    position: relative;
    height: calc(100vh - 35px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: url(../images/delivery.png);
    background-size: cover;
}

.sub_page .header_section .header_bottom {
    background-color: #003471;
}

.header_section {
    border-top: 15px solid #da7426;
}

.header_section .header_top {
    padding: 15px 0;
    background-color: #003471;
}

.header_section .header_top .header_top_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_section .header_top .contact_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.header_section .header_top .contact_nav a {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.header_section .header_top .contact_nav a i {
    margin-right: 5px;
    background-color: #159ec0;
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    border-radius: 100%;
}

.header_section .header_top .contact_nav a:hover i {
    background-color: #da7426;
}

.header_section .header_top .social_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header_section .header_top .social_box a i {
    margin-right: 5px;
    background-color: #159ec0;
    width: 28px;
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    border-radius: 100%;
}

.header_section .header_top .social_box a:hover i {
    background-color: #da7426;
}

.header_section .header_bottom {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 0;
}

.header_section .header_bottom .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}

.navbar-brand span {
    color: #da7426;
}

.navbar-brand:hover {
    color: inherit;
}

.navbar_brand_mobile {
    display: none;
}

.custom_nav-container {
    padding: 0;
}

.custom_nav-container .navbar-nav {
    margin: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 30px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-nav .nav-item .nav-link i {
    margin-right: 5px;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
    color: #da7426;
}

.custom_nav-container .nav_search-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
    color: #da7426;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
    top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0;
    margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
    display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 0;
    margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
    -webkit-transform: none;
    transform: none;
}

/*end header section*/
/* slider section */
.slider_section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_section .dot_design {
    position: absolute;
    width: 450px;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    z-index: 1;
}

.slider_section .dot_design img {
    width: 100%;
}

.slider_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_section #customCarousel1 {
    width: 100%;
    position: unset;
}

.slider_section .detail-box {
    color: #da7426;
}

.slider_section .detail-box h1 {
    font-weight: 600;
    margin-bottom: 0;
    color: #ffffff;
    font-size: 3rem;
}

.slider_section .detail-box p {
    color: #6d6d6d;
}

.slider_section .detail-box .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -5px;
    margin-top: 45px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.slider_section .detail-box .btn-box a {
    margin: 5px;
    text-align: center;
    width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #ffffff;
}

.slider_section .detail-box .btn-box .btn1:hover {
    background-color: transparent;
    color: #ffffff;
}

.slider_section .detail-box .btn-box .btn2 {
    display: inline-block;
    padding: 10px 15px;
    background-color: #da7426;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #da7426;
}

.slider_section .detail-box .btn-box .btn2:hover {
    background-color: transparent;
    color: #da7426;
}

.slider_section .img-box img {
    width: 100%;
}

.slider_section .carousel_btn-box {
    position: absolute;
    right: 25px;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 105px;
    height: 50px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.slider_section .carousel_btn-box a {
    position: unset;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    opacity: 1;
    border-radius: 100%;
    color: #003471;
    font-size: 14px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.slider_section .carousel_btn-box a:hover {
    background-color: #da7426;
    color: #ffffff;
}

.about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_section .img-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_section .img-box img {
    max-width: 100%;
    position: relative;
    z-index: 2;
}

.about_section .detail-box p {
    color: #1f1f1f;
    margin-top: 15px;
}

.about_section .detail-box a {
    display: inline-block;
    padding: 10px 35px;
    background-color: #da7426;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #da7426;
    margin-top: 15px;
}

.about_section .detail-box a:hover {
    background-color: transparent;
    color: #da7426;
}

.portfolio_section {
    background-color: #003471;
    color: #ffffff;
    padding-top: 45px;
}

.portfolio_section .heading_container {
    margin-bottom: 25px;
}

.portfolio_section .filter_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.portfolio_section .filter_box .owl-filter-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.portfolio_section .filter_box .owl-filter-bar a {
    text-transform: uppercase;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 2px;
    margin: 5px 0;
}

.portfolio_section .filter_box .owl-filter-bar a.active {
    color: #000000;
    background-color: #ffffff;
}

.portfolio_section .box {
    position: relative;
}

.portfolio_section .box .img-box {
    position: relative;
}

.portfolio_section .box .img-box img {
    width: 100%;
}

.portfolio_section .box .img-box .btn_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    background-color: rgba(255, 255, 255, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.portfolio_section .box .img-box .btn_overlay a {
    padding: 10px 45px;
    border: 1px solid #da7426;
    color: #da7426;
}

.portfolio_section .box .img-box .btn_overlay a:hover {
    background-color: #da7426;
    color: #ffffff;
}

.portfolio_section .box .img-box:hover .btn_overlay {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.portfolio_section .owl-item.active.center .box .detail-box {
    opacity: 1;
    visibility: visible;
}

.portfolio_section .portfolio_carousel {
    margin-top: 35px;
}

.portfolio_section .portfolio_carousel .owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
}

.portfolio_section .portfolio_carousel .owl-nav button {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    outline: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 100%;
    color: #000000;
}

.portfolio_section .portfolio_carousel .owl-nav button:hover {
    background-color: #003471;
    color: #ffffff;
}

.portfolio_section .portfolio_carousel .owl-nav button.owl-prev {
    left: 25px;
}

.portfolio_section .portfolio_carousel .owl-nav button.owl-next {
    right: 25px;
}

.service_section {
    position: relative;
}

.service_section .box {
    margin-top: 30px;
    text-align: center;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    padding: 25px 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.service_section .box .img-box {
    width: 65px;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.service_section .box .img-box img {
    max-height: 100%;
    max-width: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.service_section .box .detail-box {
    margin-top: 15px;
}

.service_section .box .detail-box h5 {
    font-weight: bold;
}

.service_section .box .detail-box p {
    margin: 0;
}

.service_section .box:hover {
    background-color: #da7426;
    color: #ffffff;
}

.service_section .box:hover .img-box img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.service_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
}

.service_section .btn-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #da7426;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #da7426;
}

.service_section .btn-box a:hover {
    background-color: transparent;
    color: #da7426;
}

.contact_section {
    position: relative;
}

.contact_section .heading_container {
    margin-bottom: 45px;
}

.contact_section .row {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.contact_section .form_container {
    background-color: #003471;
    padding: 45px;
}

.contact_section .form_container .form-control {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 15px;
    outline: none;
    color: #101010;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0;
}

.contact_section .form_container .form-control::-webkit-input-placeholder {
    color: #565554;
}

.contact_section .form_container .form-control:-ms-input-placeholder {
    color: #565554;
}

.contact_section .form_container .form-control::-ms-input-placeholder {
    color: #565554;
}

.contact_section .form_container .form-control::placeholder {
    color: #565554;
}

.contact_section .form_container .form-control.message-box {
    height: 95px;
}

.contact_section .form_container .btn_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contact_section .form_container .btn_box button {
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 55px;
    background-color: #da7426;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #da7426;
}

.contact_section .form_container .btn_box button:hover {
    background-color: transparent;
    color: #da7426;
}

.contact_section .map_container {
    height: 100%;
    min-height: 375px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;
}

.contact_section .map_container .map {
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.contact_section .map_container .map #googleMap {
    height: 100%;
}

.client_section .heading_container {
    margin-bottom: 45px;
}

.client_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.client_section .client_id {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.client_section .client_id h5 {
    margin-top: 10px;
    margin-bottom: 0;
}

.client_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.client_section .box .img-box {
    width: 145px;
    min-width: 145px;
    position: relative;
    border: 10px solid #da7426;
}

.client_section .box .img-box img {
    width: 100%;
}

.client_section .box .detail-box {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 15px;
    margin-bottom: 34px;
    margin-left: 1px;
}

.client_section .box .detail-box p {
    margin: 0;
}

.client_section .carousel-indicators {
    position: unset;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.client_section .carousel-indicators li {
    background-color: #da7426;
    width: 20px;
    height: 20px;
    border: none;
    background-clip: unset;
    margin: 5px;
    border-radius: 100%;
    opacity: 1;
}

.client_section .carousel-indicators li.active {
    background-color: #003471;
}

/* info section */
.info_section {
    position: relative;
    background-color: #252525;
    color: #ffffff;
}

.info_section h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}

.info_section .info_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 45px;
}

.info_section .info_logo .navbar-brand {
    font-size: 28px;
}

.info_section .social_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.info_section .social_box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    width: 30px;
    height: 30px;
    background-color: #da7426;
    border-radius: 100%;
    margin-right: 5px;
}

.info_section p {
    margin-bottom: 0;
    color: #878585;
}

.info_section a {
    text-transform: none;
}

.info_section ul {
    padding: 0;
}

.info_section ul li {
    list-style-type: none;
    margin: 3px 0;
}

.info_section ul li a {
    color: #878585;
}

.info_section .info_link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.info_section .info_bottom .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.info_section .info_contact {
    margin: 15px 0;
}

.info_section .info_contact .link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px 0;
    color: #ffffff;
}

.info_section .info_contact .link-box i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #da7426;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
}

.info_form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.info_form form input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 45px;
    border: none;
    padding-left: 10px;
}

.info_form form button {
    width: 45px;
    height: 45px;
    background-color: #da7426;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 12px;
    margin: 0;
}

/* end info section */
/* footer section*/
.footer_section p a {
    color: inherit;
}

/*# sourceMappingURL=style.css.map */

/* order section */

header {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 50px;
}

header .shopping {
    position: relative;
    text-align: right;
}

header .shopping img {
    width: 40px;
}

header .shopping span {
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}

.list .item {
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}

.list .item img {
    width: 90%;
    height: 430px;
    object-fit: cover;
}

.list .item .title {
    font-weight: 600;
}

.list .item .price {
    margin: 10px;
}

.list .item button {
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
}

.cart {
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}

.active .cart {
    left: calc(100% - 500px);
}

.active .container {
    transform: translateX(-200px);
}

.cart h1 {
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.cart .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.cart .checkOut div {
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.cart .checkOut div:nth-child(2) {
    background-color: #1C1F25;
    color: #fff;
}

.listCart li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}

.listCart li div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCart li img {
    width: 90%;
}

.listCart li button {
    background-color: #fff5;
    border: none;
}

.listCart .count {
    margin: 0 10px;
}

/* end order section */

.footer_section {
    position: relative;
    background-color: #ffffff;
    text-align: center;
}

.footer_section p {
    color: #252525;
    padding: 25px 0;
    margin: 0;
}

.checkoutLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
}

.checkoutLayout .right {
    background-color: #5358B3;
    border-radius: 20px;
    padding: 40px;
    color: #fff;
}

.checkoutLayout .right .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid #7a7fe2;
    padding-bottom: 20px;
}

.checkoutLayout .form h1,
.checkoutLayout .form .group:nth-child(-n+3) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.checkoutLayout .form input,
.checkoutLayout .form select {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    background-color: #6a6fc9;
    color: #fff;
}

.checkoutLayout .right .return .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.checkoutLayout .right .return .row div:nth-child(2) {
    font-weight: bold;
    font-size: x-large;
}

.buttonCheckout {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #49D8B9;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
}

.returnCart h1 {
    border-top: 1px solid #eee;
    padding: 20px 0;
}

.returnCart .list .item img {
    height: 80px;
}

.returnCart .list .item {
    display: grid;
    grid-template-columns: 80px 1fr  50px 80px;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 0 10px;
    box-shadow: 0 10px 20px #5555;
    border-radius: 20px;
    width: 500px;
}

.returnCart .list .item .name,
.returnCart .list .item .returnPrice {
    font-size: large;
    font-weight: bold;
}

/* Add these styles to your CSS file or style section */

#keep-shopping {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; /* Set your desired background color */
    color: #ffffff; /* Set your desired text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

#keep-shopping:hover {
    background-color: #2980b9; /* Change the background color on hover */
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -5px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 25%;
    flex: 25%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.containerP {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #45a049;
}

span.price {
    float: right;
    color: grey;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}

.container2 img {
    width: 250px;
    height: 250px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 10px; /* Optional: Add border-radius for a rounded look */
}

.field {
    position: relative;
}

.field input {
    color: #565656;
    background: none;
    padding: 0.625rem;
    border: 2px solid #030104;
}

.field label {
    position: absolute;
    top: 0;
    left: 0;
    translate: 0.625rem 0.625rem;
    color: #030104;
    background-color: transparent;
    padding-inline: 0.25rem;
    border: 2px solid transparent;
    pointer-events: none;
    transition: translate 250ms,
    background-color 250ms,
    border-color 250ms;
}

.field:focus-within label,
.field:not(:has(:placeholder-shown)) label {
    translate: 0.625rem -1rem;
    border-color: #030104;
}

.field ::placeholder {
    color: transparent;
}

.restaurant_name {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.form_wrapper * {
    box-sizing: border-box
}

/* Add padding to containers */
.form_wrapper .container {
    padding: 16px;
}

/* Full-width input fields */
.form_wrapper input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.form_wrapper input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
.form_wrapper hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.form_wrapper .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.form_wrapper .registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
.form_wrapper {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.form_wrapper .signin {
    background-color: #f1f1f1;
    text-align: center;
}

.logincheck {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: lightskyblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.logincheck h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.logincheck p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
}

.rs {
    display: flex;
    justify-content: space-between;
}

.rs a {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.rs .register {
    background-color: #3498db;
}

.rs .guest {
    background-color: #27ae60;
}

.rs a:hover {
    opacity: 0.9;
}

.reg_name {
    display: flex;
    justify-content: space-between;
}

.reg_name .form-group {
    width: 48%; /* Adjust the width as needed */
}

.re_reg_name {
    display: flex;
    justify-content: space-between;
}

.re_reg_name .form-group {
    width: 48%; /* Adjust the width as needed */
}

.de_reg_name {
    display: flex;
    justify-content: space-between;
}

.de_reg_name .form-group {
    width: 48%; /* Adjust the width as needed */
}

.registration-success {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.registration-success h2 {
    color: #28a745;
}

.registration-success a {
    color: #007bff;
    text-decoration: underline;
}

.join_us_section .btn {
    background-color: #da7426;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.join_us_section .btn:hover {
    background-color: #da7426;
}

.join_us_section .heading_container {
    text-align: left;
}

.join_us_section {
    text-align: left;
}

.join_us_section h2 {
    color: #333;
    margin-bottom: 20px; /* Add margin to separate the heading from the text */
}

.join_us_section p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.de_reg {
    display: flex;
    justify-content: space-between;
}

.de_reg {

}
/* Style for order history container */
.order_history {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    overflow: hidden;
}

.order_history img {
    max-width: 100%;
    height: auto;
}

.restaurant_name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style for order details */
.media {
    display: flex;
    align-items: center;
}

.media-body {
    margin-left: 15px;
}

.orderNumber {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.status {
    font-weight: bold;
    margin-bottom: 10px;
}

.name, .price, .quantity, .returnPrice, .totalQuantity, .totalPrice {
    margin-bottom: 5px;
}

.float-right {
    float: right;
}

.btn {
    margin-right: 10px;
}

/* Style for Order History */
.order_history {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
}

.order_history img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 15px;
}

.restaurant_name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.orderNumber {
    font-size: 16px;
    font-weight: bold;
}

.status {
    font-size: 14px;
    color: #007bff; /* Primary color for status */
}

.name {
    font-size: 16px;
    font-weight: bold;
}

.price, .returnPrice {
    color: #28a745; /* Green color for price */
}

.quantity {
    color: #333; /* Dark color for quantity */
}

.totalQuantity, .totalPrice {
    font-weight: bold;
    margin-top: 10px;
}

/* Style for Buttons */
.float-right {
    float: right;
}

.btn {
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
}

.btn-outline-primary {
    color: #007bff;
    border: 1px solid #007bff;
    background-color: transparent;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 30px) {
    .order_history {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 15px;
    }

    .order_history img {
        max-width: 100px;
        max-height: 100px;
        margin-right: 15px;
    }

    .restaurant_name {
        font-size: 18px;
        font-weight: bold;
    }

    .media-body {
        flex: 1;
    }

    .float-right {
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin-top: 10px;
    }
}